@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="
    height: 500px;
    padding-top: 80px;
">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        @if (ViewBag.Role == "admin")
        {
            <a asp-controller="Users" asp-action="Index">Users Management</a>
            <a asp-controller="Roles" asp-action="Index">Roles Management</a>
        }



        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a class="btn btn-danger" asp-controller="Account" asp-action="Login">Вход</a>
        <a class="btn btn-light" asp-controller="Account" asp-action="Register">Регистрация</a>
    }
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to Phone Store</a>.</p>*@
</div>
